<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bot.mapper.ContestRecordMapper">

    <resultMap id="BaseResultMap" type="org.bot.model.domain.ContestRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="contestId" column="contest_id" jdbcType="INTEGER"/>
            <result property="direction" column="direction" jdbcType="INTEGER"/>
            <result property="recordUserId" column="record_user_id" jdbcType="BIGINT"/>
            <result property="point" column="point" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,contest_id,direction,
        record_user_id,point,create_time,
        update_time
    </sql>

    <select id="getUserRecord" resultType="org.bot.model.vo.UserRecordVO">
        select
            contest.id as contest_id,
            contest.create_group_id as group_id,
            contest.type as type,
            contest_record.direction as direction,
            contest_record.point,
            contest_end.end_point,
            contest_end.elo_change,
            contest_end.update_time as time

        from
            contest_record,contest,contest_end
        where
            record_user_id =  #{userId} and
            contest_record.contest_id = contest.id and
            contest_record.contest_id = contest_end.contest_id and
            contest_record.record_user_id = contest_end.user_id and
            contest.status = 'END'
        order by
            time desc limit #{limit}
    </select>
</mapper>
